---
title: İndirmeler
layout: default
---
<section class="box special">
	<header class="major">
		<h2>İndirmeler</h2>
	</header>
	Lilyum'un henüz şu an kendi hedeflerine ulaşmış stabil bir sürümü bulunmamaktadır. <br/>
	Ancak, ikinci deneme sürümü olan "0.55 - İkinci Revizyon" sürümümüzü deneyebilirsiniz. <br/>
	<br/>
	<a href="https://sourceforge.net/projects/lilyum/files/Lilyum.x86_64-0.55.IkinciRevizyon.iso/download" class="button alt">İndirin</a><br/>
	<br/>
	Ayrıca, güncel Nvidia kartları için özelleştirilmiş imaj dosyamız da hazırlanmaktadır. <br/>
	Geri bildirimde bulunmaktan çekinmeyin, Telegram grubumuz bir tık kadar uzağınızda.
</section>
