---
title: Lilyum
layout: default
---
<section class="box special">
	<header class="major">
		<h2>Lilyum'u keşfedin!</h2>
		<p>Zarif ve yetenekli!<br/>
		Farklı bir Linux deneyimine hazır mısınız?<br/>
		<br/>
		<a href="https://linuxlilyum.gitlab.io/indirmeler/" class="button">Şimdi İndirin</a>
		</p>
	</header>
	<span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></span>
</section>

<section class="box special features">
	<div class="features-row">
		<section>
			<i class="fab fa-suse extraClass"></i>
			<h3>OpenSUSE Tabanlıdır</h3>
			<p>OpenSUSE'nin güçlü alt yapısı üzerine kurulmuştur ve kullanışlı araçlarını barındırır.</p>
		</section>
		<section>
			<i class="fas fa-cogs extraClass"></i>
			<h3>KDE'yi Ayrıca Böyle Görün</h3>
			<p>KDE'yi defalarca görmüş olabilirsiniz, bir de böyle görün! Özelleştirilmiş araçları ve temalandırmasıyla Lilyum size gayet kaliteli bir KDE deneyimi vaat eder.
			</p>
		</section>
	</div>
	<div class="features-row">
		<section>
			<i class="fab fa-linux extraClass"></i>
			<h3>Kararlıdır</h3>
			<p>OpenSUSE tarafından test edilmiş Leap paketlerini kullanır ve stabil bir çekirdekle beraber gelir. İşinizi yapın, sürprizlerle boğuşmayın. 
			</p>
		</section>
		<section>
			<i class="fas fa-microchip extraClass"></i>
			<h3>Sürücüler?</h3>
			<p>En son bir Linux dağıtımında Nvidia sürücülerini kurmaya çalıştığınızda nelere katlandığınızı hatırlıyor musunuz? Lilyum, donanımların önceden sizin için yapılandırıldığı bir imaj dosyası ile beraber gelir! 
			</p>
		</section>
	</div>
</section>

<div class="row">
	<div class="6u">

		<section class="box special">
			<span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt="" /></span>
			<h3>Lilyum'u indirin!</h3>
			<p>"İndirin" butonuna tıklayın ve farklı bir Linux deneyimine merhaba deyin! </p>
			<ul class="actions">
				<li><a href="https://linuxlilyum.gitlab.io/indirmeler/" class="button alt">İndirin</a></li>
			</ul>
		</section>

	</div>
	<div class="6u">

		<section class="box special">
			<span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></span>
			<h3>Nedir? Nasıl yapılır?</h3>
			<p>Lilyum hakkında bazı tereddütleriniz mi var? Belki de Lilyum'u kurdunuz ve bir şeyler yolunda gitmedi, sorununuza çare arıyorsunuz. Sorun değil, alttaki butona tıklayın.</p>
			<ul class="actions">
				<li><a href="https://gitlab.com/linuxlilyum/lilyum/-/wikis/home" class="button alt">Belgelere Göz Atın</a></li>
			</ul>
		</section>

	</div>
</div>
