<!-- Header -->
	<header id="header" class="alt">
		<a href="{{ site.baseurl }}/index.html"><img src="https://linuxlilyum.gitlab.io/logo.png"/></a>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Anasayfa</a></li>
				<li><a href="https://t.me/linuxlilyum">Telegram</a></li>
				<li>
					<a href="" class="icon fa-angle-down">Diğerleri</a>
					<ul>
					    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
						<li><a href="https://gitlab.com/linuxlilyum/lilyum/-/issues/">Forum</a></li>
						<li><a href="https://gitlab.com/linuxlilyum/lilyum/-/wikis/home">Belgeler</a></li>
						<li><a href="https://linuxlilyum.gitlab.io/indirmeler/">İndirmeler</a></li>
						<li><a href="https://gitlab.com/linuxlilyum/lilyum">Gitlab</a></li>
					</ul>
				</li>
				<li><a href="https://linuxlilyum.gitlab.io/indirmeler/" class="button">İndirin</a></li>
			</ul>
		</nav>
	</header>
