---
title: Blog
layout: default
---
<section class="box special">
	<header class="major">
		<h2>Blog Yazıları</h2>
	</header>
		{% for post in site.posts offset: 0 limit: 10 %}
			<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			<span class="date">{{ post.date | date_to_string }}</span>
			<section class="box special">
				{{ post.content | remove: '<p>' | remove: '</p>' }}
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Yazıyı oku</a></li>
			</ul>
			</section>
		{% endfor %}
</section>
